numpy==1.17.2
streamlit==0.56.0
Flask==1.1.1
music21==5.7.2
boto3==1.12.20
apex==0.9.10dev
fastai==1.0.60
fastprogress==0.2.3
flask_cors==3.0.8
graphviz==0.14
ipython==7.13.0
midi2audio==0.1.1
pebble==4.5.1
protobuf==3.11.3
pygame==1.9.6
torch==1.5.0
