numpy==1.17.2
torch==1.4.0+cpu
streamlit==0.56.0
Flask==1.1.1
music21==5.7.2
boto3==1.12.20
apex==0.9.10dev
fastprogress==0.2.3
flask_cors==3.0.8
graphviz==0.14
pebble==4.5.1
protobuf==3.11.3
fastai==1.0.60

